* {
    margin: 0;
    padding: 0;
    font-family: -system-ui, sans-serif;
}

html {
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: rgb(29, 29, 29);
}

footer {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(54, 54, 54);
    position: absolute;
    display: block;
}

p, h1, h2, h3, h4, h5, ul, li::marker {
    color: white;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

ul {
    padding-left: 1em;
}

a {
    color: #3893ee;
    text-decoration: none;
}

.breadcrumb-link {
    text-decoration: none;
}

.content {
    width: 90%;
    padding-left: 5%;
}

div.footer-left {
    float: left;
    text-align: left;
    padding-left: 2em;
}

div.footer-right {
    float: right;
    text-align: right;
    padding-right: 2em;
}

.footer-text {
    color: white;
}
