<table>
<tr>
  <th rowspan=2>Model</th>
  <th>GRCG</th>
  <th>EGC</th>
  <th>PEGC (Planar)</th>
  <th>PEGC (Packed)</th>
  <th>-26</th>
  <th>-86</th>
  <th rowspan=2>Notes</th>
</tr>
<tr>
  <th colspan=4>Graphics</th>
  <th colspan=2>Sound</th>
</tr>
<!-- Contents -->
<tr>
  <td>PC-9801</td>
  <td rowspan=5>❌</td>
  <td rowspan=5>❌</td>
  <td rowspan=5>❌</td>
  <td rowspan=5>❌</td>
  <td rowspan=5>❌</td>
  <td rowspan=5>❌</td>
  <td rowspan=5>Not really intended for gaming, lacks the majority of graphics hardware you'd need</td>
</tr>
<tr>
  <td>PC-9801E</td>
</tr>
<tr>
  <td>PC-9801F</td>
</tr>
<tr>
  <td>PC-9801M</td>
</tr>
<tr>
  <td>PC-9801VF</td>
</tr>
<!-- VM -->
<tr>
  <td>PC-9801VM</td>
  <td rowspan=1>✅</td>
  <td rowspan=1>❌</td>
  <td rowspan=1>❌</td>
  <td rowspan=1>❌</td>
  <td rowspan=1>❌</td>
  <td rowspan=1>❌</td>
  <td rowspan=1>First machine with GRCG</td>
</tr>
</table>
