<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <link href="{{ get_url(path='style.css') }}" rel="stylesheet" />
</head>

<body>
  <section class="section">
    <main>
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    </main>
  </section>
</body>

<footer>
  <div class="footer-left">
    <a href="{{ get_url(path='@/contact.md') }}" class="footer-link">Contact</a>
  </div>
  <div class="footer-right">
    <p class="footer-text">
      {% if get_env(name="SITE_COMMIT", default=false) %}
        Built from {{ get_env(name="SITE_COMMIT") }}
      {% else %}
        Unreleased dev build
      {% endif %}
    </p>
  </div>
</footer>

</html>
